/*------------------------------------*\
	$GENERIC
\*------------------------------------*/
* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	font-size: 1em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	margin: 0;
}
// Para colocarle fondo cuando user selecciona area
::-moz-selection {
	background: $principal;
	color: white;
	text-shadow: none;
}

::selection {
	background: $principal;
	color: white;
	text-shadow: none;
}

// Para navegadores viejos
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
// Quitando margin y padding a muchos elementos por defecto
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
	margin:0;
	padding:0;
}
// Quitando estilos de lista
ul, ol {
	list-style: none;
}
// Elementos de Modernizr
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden],
template {
	display: none;
}
b,
strong {
	font-weight: bold;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
// Forms
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	resize: vertical;
	overflow: auto;
}
optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}