/*------------------------------------*\
    		$Z-INDEX
\*------------------------------------*/

$level1: 100;
$level2: 200;
$level3: 300;
$level4: 400;
$level5: 500;
$level6: 600;
$level7: 700;
$level8: 800;
$level9: 900;
$level10: 1000;
$level11: 1100;